<div class="container" ng-app="AddressApp">
  <div class="list-group-item btn-primary active"><span class="btn-sm btn-primary active"><i>Address Book</i></span>
    <span class="pull-right">
      <a class="btn-sm btn-info active" href="/">Home</a>
      <!-- <a class="btn-sm btn-info active" href="/about">About</a> -->
    </span>
  </div>
  <ng-view></ng-view>
</div>
